#st1{
    height:400px ;
    width:180px;
    border:solid black 5px ;
    border-radius:15px;
   box-shadow:0px 0px 20px black ;
    
    
}

#st2{
    height:400px ;
    width:200px;
    border:solid black 5px ;
    border-radius:15px ;
}
#st3{
    height:400px ;
    width:200px;
    border:solid black 5px ;
    border-radius:15px ;
    background-color:lemonchiffon;
}
#st4{
    height:400px ;
    width:200px;
    border:solid black 5px ;
    border-radius:15px ;
}
#st5{
    height:400px ;
    width:190px;
    border:solid black 5px ;
    border-radius:15px ;
}

div{
    float:right;
    padding:25px;
    margin-left:11px ;
}
body{
    background-image: url("BODY/clover-ga4bbcbf8b_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}