#tom{
    height: 600px;
    width:700px ;
    border: solid black 5px;
    background-color: yellowgreen;

}
table{
    height:100%;
    width:100%;
}
td{
    text-align: center;
}
#map{
    height:600px ;
    width:600px ;
    border:solid black 5px ;
}
div{
    float:left;
    
}
body{
    background-color:silver ;
}
#sel{
    height:50px ;
    width:150px ;
    background-color: aqua;
    color: rgb(42, 59, 192);
    text-decoration: solid;
}
#sel:hover{
    background-color: blue;
    color: aqua;
}
